.banner {
    background-image: url('image/Da-en-park.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.navbar {
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
}

/* 設定背景圖片 */
.bg {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 確保 intro 區域的高度 */
}

/* Footer */
#footer {
    text-align: center;
    line-height: 50px;
}